*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


body {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    background-color: hsl(201, 79%, 46%);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 10px 20px;  
}

.sidebar-item:hover {
    background-color: #177cb3;
}

.sidebar-item:nth-child(1), 
.sidebar-item:nth-child(7) {
    margin-top: 20px;
}

.sidebar-item a {
    text-decoration: none;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
}

.sidebar-item-icon svg{
    width: 1rem;
    height: 1rem;
    fill: hsl(0, 0%, 100%);
}

.sidebar-logo {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar-logo svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: hsl(0, 0%, 100%);
}

.sidebar-logo h1 {
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 1px 3px 5px 1px hsl(0, 0%, 69%);
}

.search-bar {
    display: flex;
    padding: 15px 50px;
    align-items: center;
    gap: 20px;
}
.search-bar svg {
    width: 1.5rem;
    height: 1.5rem;
}

.search-bar input {
    background-color: hsl(214, 32%, 91%);
    border: none;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    padding-left: 20px;
    margin-right: 100px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .profile-picture {
  width: 40px;      
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.search-bar h1 {
    font-size: 1rem;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
 
}

.user-profile-left-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-profile-left-side .profile-picture {
  width: 70px;      
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile-left-side .profile-name h2{
    font-weight: 500;
}

.user-profile-right-side {
    display: flex;
    gap: 30px;
    align-items: center;
}

.user-profile-right-side a {
    text-decoration: none;
    background-color: hsl(201, 79%, 46%);
    border-radius: 15px;
    padding: 5px 20px;
    color: hsl(0, 0%, 100%);
    font-size: 0.8rem;
}

.user-profile-right-side a:hover {
    background-color: #177cb3;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: hsl(214, 32%, 91%);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px 20px;
}

.main-content h1 {
    font-size: 1rem;
    font-weight: 500;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 10px 25px 0px 0px;
}

.project-card {
    background-color: hsl(0, 0%, 100%);
    padding: 30px 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 380px;
    border-left: 8px solid hsl(42, 87%, 55%);
    box-shadow: 1px 3px 5px 1px hsl(0, 0%, 69%);
}

.project-card p {
    color: rgb(109, 109, 109);
    font-size: .8rem;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-top: 25px;
}

.card-actions svg {
    width: 1.5rem;
    height: 1.5rem;
}

.announcements-panel {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px 30px 0px;
    box-shadow: 1px 3px 5px 1px hsl(0, 0%, 69%);
}

.announcement {
    padding: 10px;
}

.announcement p {
    color: rgb(109, 109, 109);
    font-size: .8rem;
}

.announcements-panel > .announcement:not(:first-child):not(:last-child) {
  border-top: 1px solid hsl(0, 0%, 84%);
  border-bottom: 1px solid hsl(0, 0%, 84%);
}

.trending-panel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 1px hsl(0, 0%, 69%);
    padding: 10px;
    margin: 10px 0px;
}

.trending-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.trending-profile-picture img {
  width: 50px;      
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.trending-username h1 {
    font-size: .9rem;
    font-weight: 500;
}

.trending-username p {
    color: rgb(109, 109, 109);
    font-size: .8rem;
}